.App {
    display: grid;
    padding: 25px;
    padding-top: 5%;
    grid-template: 60px 1fr /  .75fr 1fr;
    grid-gap: 10px;
    height: 100vh;
    grid-template-areas: "Search Search"
                         "Characters Details"
}

@media screen and (max-width: 620px) {
    .App {
        grid-template: 60px 1fr 1fr / 1fr;
        grid-template-areas: "Search"
                             "Details"
                             "Characters" 
    }
}