.Character {
    border: gray 1px solid;
    margin: 5px;
    width: 70%;
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    padding: 1em;
    cursor: pointer;
}

.Character-left {
    margin-right: 1.5em;
}

.Character-rigth h3 {
    margin: 0;
}