.Details {
    grid-area: Details;
    display: grid;
    grid-template: 75px 300px 1fr / 300px 1fr;
    grid-gap: 10px;
    grid-template-areas: "name name"
                         "image description"
                         "comics comics";
    padding: 10px;
    border: gray 1px solid;
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
}

.Details-title {
    grid-area: name;
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin: 0;
}

.Details-image {
    grid-area: image;
    box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
}

.Details-description {
    grid-area: description;
}

.Details-comics {
    grid-area: comics;
}

.Details-comics h4 {
    font-size: 1.5em;
    margin: 0;
}

.Details-comics li {
    list-style: none;
    margin-left: 1em;
}